.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f8f8;
}

.message {
  font-size: 24px;
  color: #333;
}

.backLink {
  margin-top: 20px;
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
}

.backLink:hover {
  text-decoration: underline;
}
